#autre
TP_bis.py
carre.edp
TP.pdf
__pycache__
FreeFEM-documentation.pdf
.DS_Store
data/*

#tex
main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
main.out
main.synctex.gz
main.toc


=======
out_dir/
